
.search-container {
  background-color: var(--element-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  gap: 20px;
  
  padding: 0 30px; 
  width: 100%;
  max-width: 480px; 
  height: 50px;     
}

.search-input {
  border: none;
  background: transparent; 
  color: var(--text-color); 
  
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.search-input::placeholder {
  color: var(--input-color); 
}


