.countries-grid {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;             
  justify-content: center; 
  padding: 20px;
}


.filter-and-search {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1400px;
  margin: 40px auto; 
}

