.navbar {
  background-color: var(--element-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  margin: 0;              
  padding: 5px;
  margin-bottom:40px;
}

.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-top:20px;
  padding-bottom:20px;
  
}

.navbar-title {
  font-size: 18px;
  font-weight: 800;
  margin: 0; 
}

.theme-toggle {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 14px;
  margin-right:20px;
}

.theme-toggle:hover {
  opacity: 0.7;
}