body {
  margin:0;
  padding:0;
  background-color: var(--bg-color); 
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
  transition: background-color 0.2s linear;
}

:root {
  --bg-color: #fafafa;          
  --element-color: #ffffff;     
  --text-color: #111517;        
  --input-color: #858585;      
}

body.dark-mode {
  --bg-color: #202c37;          
  --element-color: #2b3945;     
  --text-color: #ffffff;        
  --input-color: #ffffff;     
}