.country-card {
  width: 250px;
  height:400px;          
  /* OR use flex-basis for more responsiveness: */
  /* flex: 1 1 250px; */ 

  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;    
}  

.flag-image{
    width:100%;
    height:160px;
    object-fit: cover;
    object-position: center;
}